<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="fio" placeholder="ФИО" value="{{author.fio}}"/>
        <input type="text" name="address" placeholder="Адрес"value="{{author.address}}"/>
        <input type="email" name="email" placeholder="Email"value="{{author.email}}"/>
        <input type="submit" value="Редактировать">
        
    </form>
    
</body>
</html>